{{- $scratch := newScratch -}}
{{- $dateFormat := default "January 2, 2006" site.Params.DateFormat -}}

{{- /* Published date */ -}}
{{- if not .Date.IsZero -}}
  {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format $dateFormat))) -}}
{{- end -}}

{{- /* Last modified date (if enabled and different from publish date) */ -}}
{{- if (.Param "ShowLastModified") -}}
  {{- if and (not .Lastmod.IsZero) (ne .Lastmod .Date) -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>Last updated on %s</span>" (.Lastmod) (.Lastmod | time.Format $dateFormat))) -}}
  {{- end -}}
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
  {{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) -}}
{{- end -}}

{{- if (.Param "ShowWordCount") -}}
  {{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) -}}
{{- end -}}

{{- if not (.Param "hideAuthor") -}}
  {{- with (partial "author.html" .) -}}
    {{- $scratch.Add "meta" (slice .) -}}
  {{- end -}}
{{- end -}}

{{- with ($scratch.Get "meta") -}}
  {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
